
.newpassbanner[b-vjg6ytv7fx] {
    text-align: center;
    color: #FF5151;
    font-size:3rem;
    margin-bottom:5rem;
}

.newpassrow[b-vjg6ytv7fx] {
    height: 100vh;
}


.newpasscolumn[b-vjg6ytv7fx] {
    padding-top: 8rem;
    padding-bottom: 5rem;
}



.newpassbtn[b-vjg6ytv7fx] {
    background-color: #FF5151;
    border: none;
    outline: none;
    padding: .5rem;
    width: 10rem;
    color:white;
    font-size:1.6rem;
}
