
.forgetbanner[b-mhzwcanip4] {
    text-align: center;
    color: deepskyblue;
}

.forgetrow[b-mhzwcanip4] {
    height: 100vh;
}

.forgetalertmessage[b-mhzwcanip4] {
    right: 50px;
}

.forgetcolumn[b-mhzwcanip4] {
    padding-top: 80px;
    padding-bottom: 50px;
}

.forgetbtn[b-mhzwcanip4] {
    background-color: deepskyblue;
    border: none;
    outline: none;
    padding: 5px;
    width: 100px;
    color: white;
    font-size:1.6rem;
}

.alertdisplay[b-mhzwcanip4] {
    display: block;
}

.alertclose[b-mhzwcanip4] {
    display: none;
}
