
.newpassbanner[b-sch3lxlzwb] {
    text-align: center;
    color: deepskyblue;
}

.newpassrow[b-sch3lxlzwb] {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newpassalertmessage[b-sch3lxlzwb] {
    right: 50px;
}

.newpasscolumn[b-sch3lxlzwb] {
    padding-top: 80px;
    padding-bottom: 50px;
}

/*.registerbgimage {
    background-image: url(../image/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}*/

.newpassbtn[b-sch3lxlzwb] {
    background-color: deepskyblue;
    border: none;
    outline: none;
    padding: 5px;
    width: 100px;
    font-size: 1.6rem;
}
