.fa-edit {
    color: #FF5151;
    margin-right: 5px;
}

.fa-trash-alt {
    color: red;
    margin-left: 5px;
}

.fa-plus {
    margin-right: 3px;
}

th {
    font-size: 1.4rem;
}

td {
    font-size: 1.3rem
}

.billbtn {
    background-color: #FF5151;
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 10rem;
    color: white;
    font-size: 1.6rem;
}
.fa-eye {
    color: #FF5151;
    margin-left: 5px;
}
