@inherits DeleteCaseBase
<div class="modal fade" id="deletephonecasemodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body deletemodelbody">
                Are you sure you want to remove this phonecase?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="deleteCase">Yes</button>
            </div>
        </div>
    </div>
</div>
