<!DOCTYPE html>
<html>
<head>
    <title>EmailTemlate</title>

    <style type="text/css">
        .button {
            border: none;
            border-radius: 2px;
            padding: 5px 5px 5px 5px;
            background-color: rgb(18, 69, 153);
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <h3 style="text-align: center;">Hi {{Username}} Welcome to Aawiskar Pravhidi Kendra</h3>
        </div>
        <div>
            <p style="text-align: center;">In order to login in our system and user our services please click the confirmation button below.</p>
        </div>
        <div style="display: flex;justify-content: center;">
            <div>
                <a href="{{Link}}" class="button"> verify Email</a>
            </div>

        </div>
    </div>



</body>
</html>