<!DOCTYPE html>
<html>
<head>
    <title>EmailTemlate</title>

    <style type="text/css">
        .button {
            border: none;
            border-radius: 2px;
            padding: 5px 5px 5px 5px;
            background-color: rgb(18, 69, 153);
            color: white;
            text-decoration: none;
        }
        .buttondiv{
            display:flex;
            justify-content:center;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <h3 style="text-align: center;">Hello {{Username}} .</h3>
        </div>
        <div>
            <p style="text-align: center;">In order to change your password please click the button below.</p>
        </div>
        <div class="buttondiv">
            <div style="text-align: center;">
                <a href="{{Link}}" class="button"> Reset</a>
            </div>
        </div>
    </div>



</body>
</html>