
.forgetbanner {
    text-align: center;
    color: deepskyblue;
}

.forgetrow {
    height: 100vh;
}

.forgetalertmessage {
    right: 50px;
}

.forgetcolumn {
    padding-top: 80px;
    padding-bottom: 50px;
}

.forgetbtn {
    background-color: deepskyblue;
    border: none;
    outline: none;
    padding: 5px;
    width: 100px;
    color: white;
    font-size:1.6rem;
}

.alertdisplay {
    display: block;
}

.alertclose {
    display: none;
}
