
@page "/newpassword"
@inherits NewPasswordBase
<div class="container-fluid">

    <div class="row newpassrow">
        <div class="col-lg-4 bg-white newpasscolumn shadow">
            <h3 class="newpassbanner">Enter your new password.</h3>
            <EditForm Model="@forgetPasswordCred" OnValidSubmit="handleSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="Password">Password</label>
                    <InputText type="password" class="form-control" id="Password" @bind-Value="forgetPasswordCred.Password" placeholder="Password" />
                    <ValidationMessage For="@(()=>forgetPasswordCred.Password)" />
                </div>
                <div class="form-group">
                    <label for="confPassword"> Confirm-Password</label>
                    <InputText type="password" class="form-control" id="confPassword" @bind-Value="forgetPasswordCred.ConfirmPassword" placeholder="Confirm-Password" />
                    <ValidationMessage For="@(()=>forgetPasswordCred.ConfirmPassword)" />
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="newpassbtn">Confirm</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>