
.newpassbanner {
    text-align: center;
    color: deepskyblue;
}

.newpassrow {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newpassalertmessage {
    right: 50px;
}

.newpasscolumn {
    padding-top: 80px;
    padding-bottom: 50px;
}

/*.registerbgimage {
    background-image: url(../image/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}*/

.newpassbtn {
    background-color: deepskyblue;
    border: none;
    outline: none;
    padding: 5px;
    width: 100px;
    font-size: 1.6rem;
}
