.page {
    display: grid;
    grid-template: "topbar topbar" "sidebar content" 1fr/ min-content 1fr;
    grid-gap: 1.5rem;  
    padding: 1rem;
    background-color: #F6F7FB;

}
.back_drop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: .3s all;
    background-color: rgba(0,0,0,.4);
    z-index:4;
}
.sidebar {
    grid-area: sidebar;
    height: 87vh;
    width: 25rem;
    background-color: #FFFFFF;
    transition: .3s all;
    position:sticky;
    top:6.7rem;
}

.top_bar {
    grid-area: topbar;
    height: 8vh;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    display:flex;
    align-items:center;
    padding:0 2rem;
    position:sticky;
    top:0;
    z-index:3;

}


.content {

    grid-area: content;
  /*  height: fit-content;*/
    background-color: #FFFFFF;
    padding:0;
   /* z-index:1;*/

}



@media(max-width:920px) {
    .page {
        grid-column-gap: 0rem;
        grid-template: "topbar topbar" "sidebar content" 1fr/ min-content 100%;
    }
    .sidebar {
        top: 1rem;
        transform: translate(-26rem);
        transition: .3s all;
        position: fixed;
        z-index: 5;
        height: 97vh;
    }
   
    .opendropback{
        opacity:1;
        pointer-events:all;
    }
    .closedropback{
        opacity:0;
        pointer-events:none;
    }
    .opensidenav {
        transform: translateX(0rem);
    }
    .closesidenav {
        transform: translateX(-26rem) ;
    }
}


@media(min-width:920px){
    .compact {
        width: 6rem;
    }

    .stretch {
        width: 25rem;
    }
}
