@page "/notfound"
@layout NullLayout
<div class="main">
    <div class="error">
        <div class="image_div">
            <img class="image" src="Images/SVG/Notfound.svg" />
        </div>
        <div class="error_title">
            <h1 class="error_code">404</h1>
            <h3 class="error_type">Not Found</h3>
            <p class="info">Sorry, there's nothing at this address.</p>
        </div>
    </div>

</div>
